<footer>
    <div class="footer">
        <p>Desarrollado por Juan Llamas © </p>
    </div>
</footer>

<style>
    footer {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height: 3rem;
        width: 100%;
        background-color: #4b7a78;
        color: whitesmoke;
    }

    .footer {
        text-align: center;
        font-size: smaller;
    }
</style>