---
import foto from "../assets/img/Foto.jpeg"
---

<div class="foto">
    <img src={foto.src} alt="foto">
</div>

<style>
    .foto {
        display: flex;
        justify-content: center;
        width: 30%;
        height: 30%;
    }

    img {
        border-radius: 10%;
    }
</style>