---
import { Image } from "astro:assets";
---

<div class="foto">
    <img src="/src/assets/Foto.jpeg" alt="foto">
</div>

<style>
    .foto {
        display: flex;
        justify-content: center;
        width: 30%;
        height: 30%;
    }

    img {
        border-radius: 10%;
    }
</style>