---
---

<div id="container">
	<main>
		
		<div class="presentacion">
			<h1>Portafolio</h1>
			<p>Les presento parte de mi trabajo, y tambien algunos ejercicios realizados por mi en la academia Alura Latam.</p>
		</div>
		
	</main>
</div>

<style>
	.presentacion {
		text-align: center;
	}
	#container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	#container main {
		width: 50%;
	}
	#container main h1 {
		font-size: 2.5rem;
	}
	#container main p {
		font-size: 1.5rem;
	}

	.foto {
		width: 15%;
		height: 15%;
	}
</style>
